body {
	height: 100%;
}
hr {
    height: 1px;
    background-color: #000000;
}

.main_body {
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    color: #000000;
    overflow: scroll;
    background-image: url("../images/start-here-back.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
}

input[type=text], textarea, select {
    border: 1px solid #AAAAAA;
    background-color: #F5F5F5;
}
input[type=button], input[type=submit], select {
    font-size: 8pt;
}
.select_option_header {
    background-color: #DDDDDD;
    color: #000000;
}
.select_option_item {
    text-indent: 10px;
}
a, a:visited, a:active {
    font-family: Arial, sans-serif;
    font-size: 9pt;
    color: #1111AA;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.a_index {
    font-size: 8pt;
}
.a_index_closed {
    font-size: 8pt;
}
.a_index_opened {
    font-size: 8pt;
    font-weight: bold;
}
form {
    font-family: Verdana, sans-serif;
    font-size: 9pt;
    color: #000000;
    display: inline;
}
table {
    font-family: Verdana, sans-serif;
    font-size: 8pt;
    color: #000000;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0px;
}
.spaceL {
    padding-left: 3px;
}
.spaceR {
    padding-right: 3px;
}
.invisible {
    display: none;
}
.bigLetter {
    font-family: Verdana, sans-serif;
    font-size: 16pt;
}
.external {
    padding-right: 12px;
    background-image: url("../images/external.png");
    background-repeat: no-repeat;
    background-position: top right;
}

/* ----------------------------------------------------------------------------------------------- */
.spot_header {
    background-color: #D0D0D0;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    color: #000000;
    text-align: right;
    cursor: pointer;
    background-image: url("../images/spot-header-background.jpg");
    background-repeat: repeat-x;
    background-position: top left;
    height: 22px;
}
.spot_header td {
    vertical-align: middle;
}
.spot_header_icon_pinned {
    width: 16px;
    background-position: 0px 4px;
    background-image: url("../images/sd-icon-pinned.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
.spot_header_icon_unpinned {
    width: 16px;
    background-position: 0px 4px;
    background-image: url("../images/sd-icon-pinned-faded.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.spot_div {
    width: 100%;
    background-color: #FFFFFF;
}

.spot_div_invisible_table {
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
}

.spot_div_loading_table {
    font-family: Arial, sans-serif;
    font-size: 8pt;
    color: #AAAAAA;
    background-color: #FFFFFF;
    height: 10px;
}

.spot_part_even {
    background-color: #F8F8F8;
}
.spot_part_odd {
    background-color: #FFFFFF;
}
/* applications bar ----------------------------------------------------------------------- */
.applicationsDiv_visible {
    width: 300px;
    display: block;
}
.applicationsDiv_visible a {
    font-family: Arial, sans-serif;
    font-size: 8pt;
    padding-left: 10px;
}
.applicationsDiv_notVisible {
    width: 0px;
}
.applications_table {
    width: 100%;
}
.applications_table th {
    background-color: #0B5B7A;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}
.applications_table_td_right {
    text-align: right;
}
/* bookmark bar ----------------------------------------------------------------------- */
.bookmarkbar_body {
    width: 16px;
    background-color: #FF8800;
}
.bookmarkDiv_visible {
    width: 200px;
    display: block;
}
.bookmarkDiv_visible a {
    font-family: Arial, sans-serif;
    font-size: 8pt;
    padding-left: 10px;
}
.bookmarkDiv_notVisible {
    width: 0px;
}
.bookmarkItem_folder {
    padding-left: 18px;
    background-image: url( "../images/bookmarks-folder.png" );
    background-position: left center;
    background-repeat: no-repeat;
}
/* topbar ----------------------------------------------------------------------------- */
.topbar_body {
    font-family: Verdana, sans-serif;
    font-size: 12pt;
    color: #FFFFFF;
    background-color: #000000;
    /*background-image: url( "../images/bar-background.jpg" );*/
    /*background-repeat: no-repeat;*/
    margin: 0px;
    margin-top: 2px;
}
.topbar_title {
    font-size: 12pt;
    font-weight: bold;
    color: #FFFFFF;
}
.topbar_commonText {
    height: 100%;
    color: #A0A0A0;
}
.topbar_body a {
    font-family: Verdana, sans-serif;
    font-size: 8pt;
    color: #FFFFFF;
    text-decoration: none;
}
.topbar_body a:hover {
    text-decoration: underline;
}
.topbar_search_box {
    width: 100%; 
    height: 20px; 
    vertical-align: middle;
    font-size: 12pt; 
    font-weight: bolder; 
    color: #000000; 
    background-image: url("../images/topbar-search-background.png"); 
    background-repeat:repeat-x; 
}

/* bottom icon bar ---------------------------------------------------------------------------- */
.bottomIconBar {
	padding: 0;
	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #D0D0D0;
    width: 100%;
}

.bottomIconBar_innerTable {
}

.bottomIconBar_innerTable td {
	padding: 3px;
}
/* ------------------------------------------------------------------------------------------- */

.leftbar_cell {
    background-color: #A0A0A0;
}
.leftbar_table {
    width: 30px;
    border: 0px;
}
.leftbar_icon_separator {
    height: 5px;
}
.leftbar_separator_border {
    width: 4px;
    background-image: url("../images/leftbar-shadow.png");
    background-repeat: repeat-y;
    background-color: #FFFFFF;
}
.leftbar_quickarrows_input {
    width: 32px;
    background-image: url("../images/tool32-quick-arrows.png");
}
.bottombar {
    text-align: center;
    padding: 5px;
    font-family: Verdana, sans-serif;
    font-size: 8pt;
    color: #909090;
    background-color: #FFFFFF;
    /*background-image: url( "../images/bar-background.jpg" );
    background-repeat: repeat-x;*/
    border-top: solid 1px #808080;
    height: 24px;
}
.bottombar a {
    font-family: Verdana, sans-serif;
    font-size: 8pt;
    color: #FFFFFF;
    text-decoration: none;
}
.bottombar a:hover {
    text-decoration: underline;
}
/*.window_body {
    font-family: Arial, sans-serif;
    font-size: 8pt;
}
.window_table {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background-color: #FAFAFA;
}
table tbody th, table tbody td {
    padding:  3px;
    text-align: left;
    vertical-align: top;
}
table tbody th {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    background-color: #DDDDDD;
}
.table_row_even {
    background-color: #F5F5F5;
}
.table_row_odd {
    background-color: #FFFFFF;
}
*/

.table_indexList {
    background-color: #FFFFFF; 
}
.table_indexList_cell {
    vertical-align: top;
}
.table_indexList a {
    font-size: 8pt;
}

.table_locallinks {
    width: 100%;
}
.table_locallinks_row_even {
    background-color: #FFFFFF;
}
.table_locallinks_row_odd {
    background-color: #EEEEFF;
}
.table_locallinks_cell_name {
}
.table_locallinks_cell_actions {
    width: 20px;
    text-align: center;
}
.table_locallinks_cell_add {
    width: 20px;
    text-align: center;
}
/* about page ------------------------------------------------------------------------------------ */
.about_table {
    width: 100%;
    height: 100%;
}
.about_table td {
    text-align: center;
    vertical-align: center;
    font-size: 10pt;
}
.about_table_title {
    font-size: 24pt;
    font-family: Arial, sans-serif;
}

/* ------------------------------------------------------------------------------------ */
.text_orange {
	color: #FF8000;
}

.a_txtdoc, .a_maven {
	padding-right: 16px;
	background-repeat: no-repeat;
	background-position: top right;
}
.a_txtdoc { background-image: url("../images/icon-txtdoc.png" ); }
.a_pdf { background-image: url("../images/icon-pdf.png" ); }
.a_maven { background-image: url("../images/icon-apache-maven.png" ); }
